<h1 class="text-center">All Artists in PlaySum</h1>
  <div class="container">
    <div class="row">
      <% @artists.each do |artist| %>
        <div class="col-md-4">
          <div class="col-xs-12 inner_artist">
            <div class="row image_and_title">
              <div class="col-xs-3"><%= image_tag artist.photo.image, class:"artist_images" %></div>
              <div class="col-xs-9"><h3 class="text-center"><%= link_to artist.full_name, artist_path(artist), class:"artist_name" %></h3></div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="text-left">
                  <%= link_to artist_path(artist) do %><i class="fa fa-arrow-circle-o-right fa-2x fa-circle-go" aria-hidden="true"></i><% end %>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="text-right">
                  <%= link_to artist_path(artist), method: :delete, data: { confirm: "Are you sure?" }, class:"btn" do %><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i><% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<hr>
<div class="row">
  <div class="text-center">
    <%= link_to "Upload Song", new_song_path, class:"btn btn-primary" %>
  </div>
</div>
