

<div class="row">
  <div class="text-center">
    <%= image_tag @song.artist.photo.image, class:"artist_show_images" %>
  </div>
</div>

<h3 class="text-center lyrics_titles">Lyrics to <%= @song.name %> by <%= @song.artist.full_name %> </h3>

<% if !@song.lyric %>
  <h3 class="lyrics text-center">Sorry, there are no lyrics for this song right now!</h3>
  <%= link_to "Know the Lyrics to this song? Add them here!", new_song_lyric_path(@song.id), class:"btn" %>
<% else %>
  <p class="lyrics text-center"><%= @song.lyric.content %></p>
<% end %>
